.vscode/**
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
node_modules
dist
out
src/**
webview-src/**
refs/**
*.vsix
.gitignore
tsconfig.json
esbuild.config.mjs
vite.config.webview.ts
