.vscode/**
.vscode-test/**
src/**
test/**
refs/**
.git/**
.gitignore
tsconfig.json
vite.config.webview.ts
esbuild.config.mjs
pnpm-lock.yaml
pnpm-workspace.yaml
node_modules/**
!dist/**
!resources/**
!package.json
!README.md
!CHANGELOG.md
!LICENSE
